@font-face {
    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Fraunces;
    src: url(Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
*{
    font-family: Montserrat,Fraunces;
    /* border: 1px solid black; */    
}
body{
    background-color:  hsl(30, 38%, 92%);
    align-items: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding: 2rem;
}
.left, .right{
    height: 28.5rem;
    width: 16.2rem;
    
    background-color: aliceblue;
    padding: 1.85rem;
}
.content{
    padding: .5rem;
    background-color: aliceblue;
}
.left{
    background: url(image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
}
.right{
    display: flex;
    align-items: first last baseline;
    justify-content:center;
    border-top-right-radius: .6rem;
    border-bottom-right-radius: .6rem;
}
.right h1{
    width: 15rem;
}
.content{
    padding: .5rem;
}
.right p, h4{
    font-size: 14px;
    width: 15rem;
    color: hsl(228, 12%, 48%);
    line-height: 1.5rem;
    font-weight: 600;
}
.right h4{
    letter-spacing: .27rem;
}
.price{
    display: flex;
    margin: 1.8rem 0rem 1.1rem 0rem;
    width: 15rem;
}
.price .hero{
    font-size: 2rem;
    padding: .5rem .5rem .5rem 0.2rem;
    font-weight: 700;
    color:  hsl(158, 36%, 37%);
}
.price .other{
    font-size: 12px;
    padding: 1.2rem;
    text-decoration:line-through;
    color: hsl(228, 12%, 48%);
}
button{
    padding: 1.1rem;
    width: 16rem;
    font-weight: 600;
    border-radius: .55rem;
    color: white;
    background-color:  hsl(158, 36%, 37%);
}
button svg{
    padding-right: .3rem;
}
@media (max-width: 767px ){
    .right{
        height: 26rem;
        border-bottom-left-radius: 0.6rem;
        border-top-right-radius: 0rem;
    }
    .left{
    height: 9rem;
    background-image: url(image-product-mobile.jpg);
    background-size: cover;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
    border-bottom-left-radius: 0rem;
    }
    .right p{
        width: 18.5rem ;
    }
    .right h1{
        width: 18.5rem
    }
    button{
        width: 18.3rem;
    }
    
    .price{
        margin: 1rem 0rem .2rem 0rem;
    }
}
@media (max-width:411px) {
    .right{
        padding: 0;
    }
    
    
}
@media (min-width:411px)and (max-width:720px) {
    .right{
        height: 24rem;
        border-bottom-left-radius: 0.6rem;
        border-top-right-radius: 0rem;
    }
    
    
}